#%RAML 1.0
title: T-Shirt Ordering Service
version: 1.0.development
baseUri: http://www.tshirt.com/api
/products:
  displayName: Products
  get:
    description: Get a list of all the inventory products
    responses:
      200:
        body:
          application/json:
            example: |
              [
                {
                  "productCode": "TS",
                  "size": "S",
                  "description": "Small T-shirt",
                  "count": 30
                },
                {
                  "productCode": "TS",
                  "size": "M",
                  "description": "Medium T-shirt",
                  "count": 22
                }
              ]
/orders:
  displayName: Orders
  post:
    description: Places a new T-Shirt order
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "size": "M",
                "email": "max@mail.com",
                "name": "Max Malone",
                "address1": "77 Geary St.",
                "address2": "Apt 7",
                "city": "San Francisco",
                "stateOrProvince": "CA",
                "country": "US",
                "postalCode": "94131"
              }
      500:
        body:
          application/json:
            example: |
              {
                "errorMessage": "The order couldn't be entered."
              }
  /{orderId}/status:
    displayName: Status
    get:
      description: Get the status of an existing order
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "orderId": "4321",
                  "status": "Delivered",
                  "size": "M"
                }
        400:
          body:
            application/json:
              example: |
                {
                  "message": "The orderId doesn't match the specified e-mail"
                }
      queryParameters:
        email:
          description: Retrieve the status of an order with the same email that was used to place the order.
          pattern: ^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$